

#game div {
  /* border: 1px solid black; */
  /* background-color: grey; */
  width: 100px;
  height: 100px;
  margin: 10px;
  display: inline-block;
  border-radius: 40px;
  position: relative;
  background-color: whitesmoke;
}

#game .flipped div{
  border: 0px;
}

#game .shine {
  position: absolute;
  width: 30px;
  height: 15px;
  border-radius: 15px;
  top: 8px;
  right: 15px;
  background-color: white;
  border: none;
  pointer-events: none;
}

body {
  background-color: lightgrey;
  font-family: 'Fredoka', sans-serif;
  font-size: 30px;
}

h1 {
  font-size: 75px;
  color: grey;
  padding-left: 200px;
}

h2 {
  padding-left: 100px;
  color: white;

}